<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALGRnjty8yFnd9POHVwXIAQyf-PHqcFpE</string>
	<key>GCM_SENDER_ID</key>
	<string>1004894585911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.GrorgeBrown.mads4003.NatureWalk</string>
	<key>PROJECT_ID</key>
	<string>project-09-4913c</string>
	<key>STORAGE_BUCKET</key>
	<string>project-09-4913c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004894585911:ios:d6da9a9c4c5be4350b2bb2</string>
</dict>
</plist>